.body {
    width: 450px;
    height: 550px;
    flex-grow: 0;
    padding: 14px 0px 422px;
    background-color: #141319;
}

/* .body_plus{
    padding: 0px 12px 0px 12px;
} */

.kategorie {
    background-color: #0c0b10;
    border-radius: 50px;
    color: #7d7d85;
    font-size: 15px;
    padding: 15px 22px 15px 22px;
    text-align: center;
    display: inline-block;
}

.kategorie_1 {
    background-color: #2f2f3b;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    padding: 15px 22px 15px 22px;
    text-align: center;
    display: inline-block;
}

.kategorie_plus {
    background-color: #212026;
    border-radius: 50px;
    color: #7d7d85;
    font-size: 15px;
    padding: 15px 22px 15px 22px;
    border: solid 1px #45444c;
    text-align: center;
    display: inline-block;
}

.kategorie_list_scroll {
    overflow: auto;
    white-space: nowrap;
    padding: 0px 22px 0px ;
}

.kategorie_list_scroll::-webkit-scrollbar {
    display: none;
    /* 기능은 있지만 스크롤 바 숨김 */
}

.drop {
    font-size: 14px;
    color: #7d7d85;
}

.drop_box {
    border-style: none;
    background-color: transparent;
    color: white;
    font-size: 14px;
    color: #7d7d85;
}

.stock_list_text-size {
    font-size: 17px;
}

.stock_list_scroll {
    overflow: auto;
    height: 710px;
    padding: 0px 22px 0px 22px;
}

.stock_list_scroll::-webkit-scrollbar {
    display: none;
    /* 기능은 있지만 스크롤 바 숨김 */
}

#list {
    width: 450px;
}

#list ul li {
    list-style: none;
    color: white;
    background-color: #2d2d2d; 
    float: left;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}

#list .menuLink {
    text-decoration: none;
    color: white;
    display: block;
    width: 80px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Trebuchet MS", Dotum, Arial;
}

#list .menuLink:hover {
    color: #DCACAD;
    background-color: #4d4d4d;
}